html {
  font-size: 16px;
}

/* Navigation section */
nav {
  display: flex;
  height: 4rem;
  z-index: 5;
  margin: 0 1.5rem;
  align-items: center;
  font-family: Helvetica;
}

nav .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  flex: 1;
  max-height: 2rem;
}

nav .logo span:last-child {
  color: grey;
  font-weight: 400;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0 0.5rem;
}

nav li:hover{
  text-decoration: underline;
}

nav a {
  color: black;
  text-decoration: none;
}
/* Banner section */

.banner {
  margin-top: 4rem;
}
